USE [master]
GO
/****** Object:  Database [LuatLamNghiep]    Script Date: 5/27/2022 12:55:23 PM ******/
CREATE DATABASE [LuatLamNghiep]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuatLamNghiep', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LuatLamNghiep.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LuatLamNghiep_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LuatLamNghiep_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuatLamNghiep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuatLamNghiep]
GO
/****** Object:  Table [dbo].[Nhom3]    Script Date: 5/27/2022 12:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom3](
	[dieu] [ntext] NULL,
	[noiDungDieu] [ntext] NULL,
	[khoan] [ntext] NULL,
	[noiDungKhoan] [ntext] NULL,
	[mucPhatDuoi] [float] NULL,
	[mucPhatTren] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
